@import 'tailwindcss';

@theme {
  --color-primary: #fff;
  --color-lilac: #c4b5fd;
  --color-lilac-light: #faf9f7;
  --font-sans: 'Montserrat', sans-serif;
}

body {
  @apply bg-lilac min-h-screen font-sans;
}
